header {
    position: sticky;
    top: 0;
    z-index: 10;
    text-transform: capitalize;
}
.top-bar {
    /* padding: .4rem; */
    background-color: var(--blue);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1rem;
    padding: 0px 20px;
}
.top-bar .flex{
    flex-wrap: wrap;
}
.top-bar a {
    color: #fff;
}
.top-bar a:hover {
    color: #fff;
    scale: 1.1;
}
.top-bar h5 {
    margin: 0;
    font-size: 16px;
}

/*  */
.contact-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 5px 10px;
}

.contact-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--blue);
    border: 1px solid #ccc;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    min-width: 150px;
    padding: 5px 0;
    z-index: 100;
}

/* Fix: Dropdown visible rahe jab tak mouse uske andar ho */
.contact-dropdown:hover .contact-options {
    display: block;
}
.blue-button-hover {
    background-color: var(--blue);
    color: white;
    border-radius: 5px;
}
.blue-button-hover:hover {
    color: var(--blue);
    background-color: #0058d22d;
}

.contact-options a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
    white-space: nowrap;
}

.firstvite {
    background: cornsilk;
    padding: 1px 8px;
    text-align: center;
    /* margin-left: 20px; */
    border-radius: 5px;
    cursor: pointer;
}

.firstvite a {
    display: block;
    text-decoration: none;
    /* color: white; */
    font-weight: bold;
}
/*  */

/* .top-bar a i {
    font-size: 16px;
} */

.bottom-nav {
    flex-wrap: wrap;
}

/* online-bar */
.online-bar {
    display: flex;
    align-items: baseline;
    list-style: none;
    gap: 1rem;
    flex-wrap: wrap;
}
.online-bar li a {
    display: flex;
    gap: 2px;
    align-items: baseline;
    color: var(--blue);
}
.online-bar li a:hover {
    color: var(--red);
}
.online-cards {
    max-height: 60vh;
    overflow-y: auto;
}
/* search offcanvas */
.search-tabs button {
    margin: 2px 0;
}
.search {
    background-color: var(--blue);
    color: #fff !important;
    border-radius: 6px;
}

/*  */
.state-container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: end;
    padding: 0 1rem;
}

.state-container h4 {
    font-size: large;
    font-weight: 400;
    text-transform: capitalize;
}

.state {
    font-weight: 400;
}

.state p {
    color: #0056d2;
    margin-bottom: 8px;
}

.state img {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 25%;
    height: 300px !important;
    display: none;
    border-radius: 6px;
}
.state:hover p {
    color: red;
}

.state:hover img {
    display: block;
}

.nav-link {
    font-weight: 500;
    padding: 0px;
}

.mobile-nav-dropdown {
    margin: auto;
}

.logout-dropdown {
    position: absolute;
    top: 100%;
    left: -220px;
    background: white;
    border: 1px solid #ddd;
    padding: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    /* width: 100px; */
}

.partner-universities-dropdown {
    position: absolute;
    margin: 0px 10px;
    border-radius: 6px;
    /* opacity: 0.9; */
    background: #dbdbdb;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        white-space: nowrap;
        /* overflow-x: auto;
        scrollbar-width: thin; 
        scrollbar-color: #888 #f1f1f1;  */
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .hm {
        margin-left: 1rem !important;
    }
}

.hm {
    margin-left: 0.8rem;
}

/* Media query for max-width 768px */
@media (max-width: 889px) {
    .top-bar {
        gap: 0px;
    }
    /* .top-bar-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    } */
}

@media (max-width: 425px) {
    /* .top-bar .flex a i, .top-bar .flex span{
        font-size: 12px;
    } */
    .navbar {
        margin-bottom: 0 !important;
    }
}

@media (max-width: 375px) { 
    .hm {
        margin-left: 0;
    }
}

@media (min-width: 1000px) {
    .home-program-card {
        max-width: 200px !important; /* Ya jitni width chahiye */
    }
}

@media (max-width: 425px) {
    .state-container {
        display: block; 
        max-height: 400px; 
        overflow-y: auto;
        border: 1px solid #ccc;
        padding: 10px; 
        width: 100%;
        margin-top: 20px;
    }
    .partner-universities-dropdown {
        margin: 0;
    }
    .state img {
        display: none;
    }
    .state:hover img {
        display: none;
    }
}
@media (max-width: 991px) {
    /* Nav Mobile Dropdown */
    .mobile-nav-dropdown {
        margin: auto;
        position: absolute;
        background: whitesmoke;
        padding:20px 50px;
        border-radius: 6px;
        right: 0px;
        top: 50px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        /* width: 70%; */
        gap: 10px;
    }
    .mobile-nav-dropdown .nav-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .nav-link {
        padding: 2px 6px;
    }
}
