#gradient-color {
    background: linear-gradient(180deg, #1e90ff, #99badd, #99badd85);
}
#card-gradient-color {
    transition: 0.5s;
    background: linear-gradient(180deg, #0048ff, #4f9cff);
}
#card-gradient-color img {
    height: 100px;
    width: 100px;
}
#card-gradient-color:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 10px black;
}

/* banner  */
#banner {
    /* background: #0056d2; */
    color: #fff;
    text-transform: capitalize;
}

/* home cards */
/* #home-cards button {
    position: absolute;
    top: 86%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} */

.card-body-content {
    font-size: 12px;
    color: white;
    padding-bottom: 5px;
    height: 60px;
 }

/* counter */
/* Universities */

.uni-card{
    color: #fff;
    background: var(--blue);
}

.uni-img{
    width: 100%;
    height: 150px;
}
.uni-badge{
    position: absolute;
    top: 2%;
    left: 2%;
    margin: 2px;
}
.courses .card{
    min-height: 150px;
}
.courses .card:hover{
    transform: scale(1.1);
}
.courses .card:hover p{
    color: var(--red);
}
.owl-theme .owl-nav.disabled+.owl-dots{
    display: none;
}

.university-text {
    color: orange;
    text-align: center;
    font-size: 2.1rem;
    margin-top: 15px;
    font-weight: 400;
}

/* Universities end */
@media only screen and (max-width:600px){
    *{
        font-size: small;
    }
}

@media only screen and (max-width:490px){
    .card-body-content {
        height: 75px;
    }
    #card-gradient-color img {
        height: 70px;
        width: 70px;
    }
}
@media only screen and (max-width:768px){
    .university-text {
        font-size: 1.5rem;
    }
}